<div style="background-color: #F5F8FA; height: 700px;">
  <br />
  <div class="row">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Home', root_path %></li>
        <li>
          IPO
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><span style="font-size: 15px;font-weight: bold; color: #2c3e50">Illegal Contacts</span></a></li>
      <li class="tabs-title"><a href="#panel2"><span style="font-size: 15px;font-weight: bold; color: #2c3e50">Illegal Documents Checking</span></a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <% if @illegal_contacts.present? %>
        <table>
          <thead>
            <tr>
              <th>Sender</th>
              <th>Receiver</th>
              <th>Time</th>
            </tr>
          </thead>

          <tbody>
            <% @illegal_contacts.each do |ilc| %>
            <tr>
              <td><%= ilc.sender %></td>
              <td><%= ilc.receiver %></td>
              <td><%= ilc.created_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <h4 class="text-center" style="color: #2c3e50; font-weight: bold">
          No illegal contacts records
        </h4>
        <% end %>
      </div>
      <div class="tabs-panel" id="panel2">
        <% if @illegal_check.present? %>
        <table>
          <thead>
            <tr>
              <th>Personnel</th>
              <th>Document</th>
              <th>Time</th>
            </tr>
          </thead>

          <tbody>
            <% @illegal_check.each do |lc| %>
            <tr>
              <td><%= lc.sender %></td>
              <td><%= lc.receiver %></td>
              <td><%= lc.created_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <h4 class="text-center" style="color: #2c3e50; font-weight: bold">
          No illegal documents checking records
        </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
