<% provide(:title, 'ZNZ LLP') %>
<br />
<br />
<div class="row">
  <div class="small-3 columns">
    <%= link_to "New Case", "welcomepages/new_case", class: 'button primary small-12 small-centered columns' %>
  </div>
  <div class="small-3 columns">
    <%= link_to "Check Documents", "welcomepages/check_document", class: 'button warning small-12 small-centered columns' %>
  </div>
  <div class="small-3 columns">
    <%= link_to "Contact", "welcomepages/contact", class: 'button secondary small-12 small-centered columns' %>
  </div>
  <div class="small-3 columns">
    <%= link_to "IPO", "welcomepages/ipo", class: 'button success small-12 small-centered columns' %>
  </div>
</div>
<hr />
<div class="row">
  <p id="notice"><%= notice %></p>
  <h1>Past Cases</h1>

  <% if @cases.present? %>
    <table>
      <thead>
        <tr>
          <th>Case ID</th>
          <th>Lawyer</th>
          <th>C1</th>
          <th>C2</th>
          <th>Completed</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cases.each do |c| %>
          <tr>
            <td><%= c.id %></td>
            <td><%= Personnel.find(c.personnel_id).name %></td>
            <td><%= c.c1 %></td>
            <td><%= c.c2 %></td>
            <td>
              <% if c.completion.present? %>
                <i class="fa fa-check" aria-hidden="true" style="color: #2ecc71"></i>
              <% else %>
                <i class="fa fa-times" aria-hidden="true" style="color: #e74c3c"></i>
              <% end %>
            </td>
            <td><%= link_to 'Show', c %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br>
  <br>
</div>
