<div class="row">
  <p id="notice"><%= notice %></p>

  <%= link_to 'New Case', new_case_path, class: 'button success', style: "font-weight: bold" %>

  <h1>Cases</h1>

  <% if @cases.present? %>
    <table>
      <thead>
        <tr>
          <th>Case ID</th>
          <th>Lawyer</th>
          <th>C1</th>
          <th>C2</th>
          <th>Completed</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cases.each do |c| %>
          <tr>
            <td><%= c.id %></td>
            <td><%= Personnel.find(c.personnel_id).name %></td>
            <td><%= c.C1 %></td>
            <td><%= c.C2 %></td>
            <td><i class="fa fa-check" aria-hidden="true" style="color: #2ecc71"></i></td>
            <td><%= link_to 'Show', c %></td>
            <td><%= link_to 'Edit', edit_case_path(c) %></td>
            <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br>

  <%= link_to 'New Case', new_case_path, class: 'button success', style: "font-weight: bold" %>
  <br>
  <br>
</div>
