<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="callout">
    <p><span style="color: #2c3e50;font-weight: bold">Name:</span> <span style="color: black"><%= @case.personnel_name %></span></p>
    <p><span style="color: #2c3e50;font-weight: bold">Start: </span> <span style="color: black"><%= @case.start %></span></p>
    <p>
      <span style="color: #2c3e50;font-weight: bold">Completion: </span>
      <span style="color: black">
        <% if @case.completion.present? %>
          <i class="fa fa-check" aria-hidden="true" style="color: #2ecc71"></i>
        <% else %>
          <i class="fa fa-times" aria-hidden="true" style="color: #e74c3c"></i>
        <% end %>
      </span>
    </p>
    <p><span style="color: #2c3e50;font-weight: bold">C1:</span> <span style="color: black"><%= @case.c1 %></span></p>
    <p><span style="color: #2c3e50;font-weight: bold">C2:</span> <span style="color: black"><%= @case.c2 %></span></p>
  </div>

  <%= link_to 'Back', root_path, class: 'button secondary' %>
</div>
