<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="callout">
    <p><span style="color: #2c3e50;font-weight: bold">Name:</span> <span style="color: #2ecc71"><%= @case.personnel_name %></span></p>
    <p><span style="color: #2c3e50;font-weight: bold">Start Time:</span> <span style="color: #2ecc71"><%= @case.start %></span></p>
    <p><span style="color: #2c3e50;font-weight: bold">Completion Time:</span> <span style="color: #2ecc71"><%= @case.completion %></span></p>
    <p><span style="color: #2c3e50;font-weight: bold">C1:</span> <span style="color: #2ecc71"><%= @case.c1 %></span></p>
    <p><span style="color: #2c3e50;font-weight: bold">C2:</span> <span style="color: #2ecc71"><%= @case.c2 %></span></p>
  </div>

  <%= link_to 'Edit', edit_case_path(@case), class: 'button primary' %> |
  <%= link_to 'Back', cases_path, class: 'button secondary' %>
</div>
